[user]
	name = Jonathan Kinred
    email = jonathan.kinred@gmail.com
[http]
	sslVerify = false
[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/jonathan/.gitignore
[branch]
	autosetuprebase = always
[credential]
	helper = /usr/libexec/git-core/git-credential-libsecret
[credential "https://github.com"]
    username = jkinred
